.section-1,
.section-1 * {
    box-sizing: border-box;
}

.section-1 {
    background: #ffffff;
    position: relative;
    display: flex;
}

.background {
    width: 100%;
    position: absolute;
    opacity: 70%;
    transform: rotate(180deg) scale(1, 1);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.revert-background {
    width: 100%;
    position: absolute;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.my-photo {
    position: absolute;
    left: 10%;
    top: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.rectangle-1 {
    background: #4fdfff;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.base-container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.section-contacts {
    background: #4fdfff;
    width: 1930px;
    height: 933px;
    position: absolute;
    left: 1920px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    display: flex;
}

.arrows {
    position: fixed;
    bottom: 20px;
    right: 145px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.arrow-link {
    font-size: 60px;
    color: #012f55;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

.arrow-link:hover {
    color: #87CEFA;
    transform: scale(1.2);
}

.work-link {
    text-decoration: none;
    color: #87CEFA;
}
