.portfolio {
    color: #012f55;
    text-align: left;
    font: 400 1.5vw "Amiko", sans-serif;
    position: absolute;
    left: 25%;
    top: 10%;
    width: 15%;
    height: auto;
}

.borislav-kamenov {
    color: #012f55;
    text-align: center;
    font: 400 10vw "Aldrich", sans-serif;
    position: absolute;
    top: 25%;
    width: 60%;
    height: auto;
}

.python-web-developer {
    color: #012f55;
    text-align: left;
    font: 400 2vw "Amiko", sans-serif;
    position: absolute;
    left: 7%;
    top: 80%;
    width: 40%;
    height: auto;
}

.about-me {
    color: #012f55;
    text-align: left;
    font: 400 2vw "Amiko", sans-serif;
    position: absolute;
    left: 40%;
    top: 80%;
    width: 30%;
    height: auto;
    transition: color 0.3s ease;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;

}

.about-me:hover {
    font-size: 2.5vw;
    color: #87CEFA;
}

.bio {
    color: #012f55;
    text-align: left;
    font: 400 32px "Amiko", sans-serif;
    position: absolute;
    left: 17.5%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 300px;
    top: 15%;
    margin: 20px auto;
}

.about-description {
    color: #012f55;
    text-align: left;
    font: 400 32px/172.4% "Amiko", sans-serif;
    position: absolute;
    left: 63%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 730px;
    top: 24%;
    background-color: #227bad;
    border-radius: 16px;
    opacity: 0.800000011920929;
    padding: 20px;
    margin: 20px auto;
}

.about-me-h2 {
    color: #012f55;
    text-align: left;
    font: 400 47px "Amiko", sans-serif;
    position: absolute;
    left: 59.5%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    top: 15%;
    margin: 20px auto;
}

.journey-description {
    color: #012f55;
    text-align: left;
    font: 400 32px/1.524 "Amiko", sans-serif;
    position: absolute;
    width: 100%;
    max-width: 883px;
    background-color: #227bad;
    border-radius: 16px;
    opacity: 0.8;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    left: 9%;
    top: 20%;
}

.my-journey {
    color: #012f55;
    text-align: left;
    font: 400 47px "Amiko", sans-serif;
    position: absolute;
    left: 9%;
    top: 12%;
    width: 90%;
    height: auto;
    max-width: 440px;
}

.skills-description {
    color: #012f55;
    text-align: left;
    font: 400 27px "Amiko", sans-serif;
    position: absolute;
    width: 90%;
    max-width: 881px;
    height: auto;
    background-color: #227bad;
    border-radius: 16px;
    opacity: 0.8;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    left: 45%;
    top: 13%;
}

.web-development-skills {
    color: #012f55;
    text-align: left;
    font: 400 47px "Amiko", sans-serif;
    position: absolute;
    left: 45%;
    top: 7%;
    width: 90%;
    height: auto;
    max-width: 885px;
}

.projects-description {
    color: #012f55;
    text-align: left;
    font: 400 37px "Amiko", sans-serif;
    position: absolute;
    width: 100%;
    max-width: 883px;
    height: auto;
    background-color: #227bad;
    border-radius: 16px;
    opacity: 0.8;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    left: 7%;
    top: 32%;
}

.projects {
    color: #012f55;
    text-align: left;
    font: 400 47px "Amiko", sans-serif;
    position: absolute;
    left: 7%;
    top: 25%;
    width: 90%;
    height: auto;
}

.contacts-description {
    color: #012f55;
    text-align: left;
    font: 400 32px "Amiko", sans-serif;
    position: absolute;
    width: 70%;
    max-width: 518px;
    height: auto;
    background-color: #227bad;
    border-radius: 16px;
    opacity: 0.8;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    left: 45%;
    top: 20%;
}

.contacts-description a {
    color: #012f55;
    transition: color 0.3s ease, transform 0.2s ease;
}
.contacts-description a:hover{
    color: #87CEFA;
    transform: scale(1.2);
}
.contacts {
    color: #012f55;
    text-align: left;
    font: 400 47px "Amiko", sans-serif;
    position: absolute;
    left: 45%;
    top: 13%;
    width: 20%;
    height: auto;
}