{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/04d421950c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="section-1">
        <div class="base-container">
            <div class="rectangle-1"></div>
            <img class="background" src="{% static 'images/background.jpg' %}" alt="background"/>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>