{% extends 'base.html' %}
{% block content %}
    <div class="projects">PROJECTS</div>
    <div class="projects-description">
        If you have an interest in my work, here you can check out my <a  class="work-link" target="_blank" href="https://github.com/bkamenow">portfolio</a> to see some of my recent projects, including web
        applications that demonstrate my coding skills and attention to detail.
    </div>
    <div class="arrows">
            <a href="{% url 'web:skills' %}" class="arrow-link"><i class="fa-solid fa-arrow-left"></i></a>
            <a href="{% url 'web:contacts' %}" class="arrow-link"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
{% endblock %}